<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Menores Preços</title>
    <!-- JQuery -->
    <script Content-Type: application/javascript src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <!-- BootstrapCss -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- BootstrapJs -->
    <script Content-Type: application/javascript src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <!-- Our css -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    <h1>Busca Menores Preços</h1>

    
    <!-- CustomJs -->
    <script Content-Type: application/javascript src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>